language: node_js
node_js:
  - "4.2"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
deploy:
  provider: heroku
  app: freevehiclecheck
  api_key:
    secure: GS44+DPonAqfIdyitgV8l3NxRmIqdowBcm+IED8vfhgEAZTrhz3FmyQqgRKSS6eh6o25az5Vrep6fPh6uZru+G9KjkUz/MMAvEzRbFurpGoaKRlUeUU7sBilbTt8yg1akr4NwqThofd8gechq6LJQRkdi/7Pua929KP2U/tcSpPObQ6OutzQqJlNne1v64GKkIGVhk1xMS0G0h1sZmYiQBlfdZmCi0J3vlCr0sJiu8uf18Za5TpLMmPTR19qP++glrqRI9ExLy4iavDe1wK/bpNWd7d9fOi+gtztPV53pJ8kNzwvPAEmUxPZoSS5ly8mYebW9ADy/vGaf7vmyFH7rZKKrpjN3U3acdAjkSuyrYrd+5LDzIRfPgdgaaCbU2tYWDnpYz8r81eb02Z0ZHN7LqgKUenMKLv29skebtoWOPEZjLCeVJsoabyvluiYGHxIMn991yw5++ksC0VkbhQd0OBYX7gTQRd4IH1igGrAxc0nNLA6Tht3ik0nRdl1ahvfTfaRhwJA7SKlDReuoIz/Rb1MrBUQwvSid9cQ4ZSg5oaG9r0cbUPbH2wwui4QzZhgkTaDQfYmD59kff8EJy7R7kWKwCT5AyfqT1Oa/+9FP0FnbDL56ZvV3EzV5yv/d6Y3sRdc1ZsS+pxaswryD8XRODj+Nh8WVKwof9do7BGiFFY=
addons:
    code_climate:
        repo_token: e0b83922639c997a80f7278d5a94c0dc48701dcc37458fc17b75801b5ec4b8f0
after_success:
  - npm install codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info